<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-4">
            <div class="form-background">
                <form #signUpForm="ngForm" (ngSubmit)="onsignUp()">
                    <div ngModelGroup="userDetails">
                        <div class="form-group">
                            <label for="username">Username <sup class="text-danger">*</sup></label>
                            <input type="text" name="username" ngModel id="username" #username="ngModel" class="form-control" required pattern="[a-zA-Z]+" minlength="6" maxlength="10">
                            <p class="alert alert-danger" *ngIf="username.touched && username.hasError('required')">
                                Username is a required field
                            </p>
                            <ng-container *ngIf="username.dirty">
                                <p class="alert alert-danger" *ngIf="username.hasError('pattern')">
                                    Username should not include special characters and numbers
                                </p>
                                <p class="alert alert-danger" *ngIf="username.hasError('minlength')">Minimum length is 6</p>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label for="email">Email <sup class="text-danger">*</sup></label>
                            <input type="text" name="email" ngModel id="email" #email="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" class="form-control" required>
                            <p class="alert alert-danger" *ngIf="email.touched && email.hasError('required')">
                                Email is a required field
                            </p>
                            <p class="alert alert-danger" *ngIf="email.dirty && email.hasError('pattern')">
                                Email is incorrect
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="secretQuestion">Secret Question<sup class="text-danger">*</sup></label>
                        <select name="secretQuestion" id="secretQuestion" class="form-control" ngModel #secretQuestion="ngModel" required>
                            <option value="favoriteteacher">Favorite Teacher</option>
                            <option value="favoritebook">Favorite Book</option>
                            <option value="favoriteplace">Favorite Place</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="answer">Answer <sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" ngModel id="answer" name="answer" #answer="ngModel" required>
                    </div>
                    <div class="form-group">
                        <label for="isSubscribe">
                            <input type="checkbox" ngModel name="isSubscribe" id="isSubscribe" #isSubscribe="ngModel">
                            Subscribe To Email
                        </label>
                    </div>
                    <p>Mode Of Contact</p>
                    <div class="form-group">
                        <label for="phone">
                            Phone:
                            <input type="radio" name="contactMode" id="phone" value="phone" ngModel required #contactMode="ngModel">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Email">
                            Email:
                            <input type="radio" name="contactMode" id="Email" value="Email" ngModel required #contactMode="ngModel">
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-success m-2">Sign Up</button>
                        <button class="btn btn-danger m-2" (click)="patchValue()">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>